In [3]:
with open ("example.txt","w") as file:
    file.write("Hello World")
#This is used to create a file or read a file. If file doesn't exist ,then it will gets created

In [4]:
!ls

example.txt

In [6]:
with open ("example.txt","r") as file:
    print(file.read())
# This is used to open a file in read mode

Hello World

In [7]:
with open ("example.txt","a") as file:
    file.write("\nHello Jupyter")
#this is used to append data in the file

In [8]:
with open ("example.txt","r") as file:
    print(file.read())

Hello World
Hello Jupyter

In [10]:
with open ("example.txt","r") as file:
    print(file.readline()) #to read 1st line
    print(file.readline()) #to read 2nd line

Hello World

Hello Jupyter

In [11]:
with open ("example.txt","r") as file:
    print(file.read(5)) #to read 1st 5 characters
    print(file.read(5))

Hello
 Worl

In [12]:
# To write multiple lines using a list
seq = ["This is line1\n", "This is line2"]
with open ("example1.txt","a") as file:
    for line in seq:
        file.write(line)
#or in place of for loop we can use file.writelines(seq)

In [14]:
with open ("example1.txt","r") as file:
    print(file.read())

This is line1
This is line2

In [15]:
with open ("example1.txt","r") as file:
    print(file.readlines())

# This reads the files and prints the lines as a list

['This is line1\n', 'This is line2']

## To create a .CSV hile

In [20]:
seq = ["James,", "Bond","\n","Jackie,","Chan"]
with open ("example2.csv","w") as file:
    for line in seq:
        file.write(line)

In [21]:
with open ("example2.csv","r") as file:
    print(file.read())

James,Bond
Jackie,Chan

In [22]:
import pandas as pd

In [27]:
df = pd.read_csv("example2.csv",header = None)
df

        0     1
0   James  Bond
1  Jackie  Chan

In [28]:
df = pd.read_csv("example2.csv",header = None, names = ['A','B'])
df

        A     B
0   James  Bond
1  Jackie  Chan